@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind utilities;
@tailwind base;
@tailwind components;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inria Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 243, 243);
}

.clip-path {
  clip-path: polygon(2.5% 0, 100% 0, 100% 100%, 0% 100%);
}
.no-clip-path {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.crazy-round {
  border-radius: 50% 25% / 25% 50%;
  border-radius: 14% 86% 60% 40% / 38% 29% 71% 62%;
}
&& .ant-select .ant-select-selector {
  padding-left: calc(3rem - 8px);
}
